.posts{
    background-color: #222;
    padding-bottom: 150px;
}

.titulo-imagens {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titulo-imagens h1 {
    font-size: 90px;
    color: white;
    text-align: center;
}

/* Container principal das fotos */
.container-fotos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

/* Linhas de imagens */
.linha1, .linha2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilo das imagens */
.linha1 img, .linha2 img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    object-fit: cover; /* Mantém proporção sem distorcer */
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efeito hover nas imagens */
.linha1 img:hover, .linha2 img:hover {
    transform: scale(1.05);
}
