
.info_container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin:30px 30px 0 0;
}

.info_react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 50%;
  text-align: justify;
  color: rgb(255, 255, 255);
}

.info_react h1 {
  margin-bottom: 40px;
  font-size: 90px;
  font-weight: bold;
}

.info_react p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-right: 10px;
}

.img {
  width: 50%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-top: 10%;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
}